div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100%;
    overflow: auto;
    position: relative;
}

div.container::before {
    content: "";
    position: fixed;
    z-index: -1;
    filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url("../public/img/japan.gif") center center fixed;
    background-size: cover;
    transform: scale(1.1);
    overflow: hidden;
}

/* Custom Things */

button.primary {
    transition: box-shadow 0.3s, text-shadow 0.3s;
    background: linear-gradient(to right, #9b1cc2 0%, #d30ec2 100%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    width: auto;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans';
    text-decoration: none;
    text-shadow: none;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

button.primary:hover {
    box-shadow: 0px 0px 8px #9b1cc2;
    text-shadow: 0px 0px 8px white;
}

button.secondary {
    transition: box-shadow 0.3s, text-shadow 0.3s;
    background: #1a1a1a;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans';
    text-decoration: none;
    text-shadow: none;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

button.secondary:hover {
    box-shadow: 0px 0px 8px #464646;
    text-shadow: 0px 0px 8px white;
}

button.livenow {
    transition: box-shadow 0.3s, text-shadow 0.3s;
    background: linear-gradient(to right, #b61414 0%, #7a0404 100%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans';
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

/* Card */

div.card {
    z-index: 2;
    transform: translateY(30px);
    padding: 20px;
    max-width: 420px;
    min-width: 380px;
    background: #3F3F3F;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0, 0.25);
}

div.card div.top {
    position: relative;
    display: flex;
    justify-content: space-between;
}

div.card div.top div.socials {
    font-size: 35px;
}

div.card div.top div.socials a {
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    filter: drop-shadow(0px 0px 2px white);
}

div.card div.top div.logo_wrapper {
    box-sizing: content-box;
    position: absolute;
    left: 30%;
    top: -200%;
    width: 145px;
    height: 145px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.75))
}

/* CSS If Page Height < 400 */

@media (max-height: 400px) {
    div.card div.top div.logo_wrapper {
        box-sizing: content-box;
        position: relative;
        width: 50px;
        height: 50px;
        left: 0;
        top: 0;
    }

    div.card {
        transform: none;
    }
}

div.card div.details {
    padding-top: 30px;
    text-align: center;
}

div.card div.navigation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
}

div.card p#status {
    padding-top: 5px;
    text-align: center;
}